/* Basic style sheet for github.io page */

body {
    font-family: sans-serif;
    font-size: 11pt;
    background-color: #F0F0F0
}

h1 {
    color: #7fdd80;
    font-size: 20pt;
    font-weight: bold;
}

h2 {
    color: #7fdd80;
    font-size: 16pt;
    font-weight: bold;
    font-style: italic;
}

td {
    vertical-align: top;
}

.sidebar {
    font-style: italic;
    font-size: 11pt;
    padding-left: 14px;
    margin-left: 14px;
}

.codeblock {
    font-family: monospace;
    font-size: 10pt;
    background-color: #383838;
    color: #fff;
}

table.layout {
    width: 1000px;
}

.layoutleft {
    width: 150px;
}

.layoutright {
    width: 100%;
}

a:link {
    color: #7fdd80;
}

a:visited {
    color: #599C59;
}

